body {
  width: 95vw;
  height: 95vh;
  background-color: rgb(29, 41, 59);
  font-family: ui-sans-serif, system-ui, -apple-system, 'system-ui', 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.main-container {
  left: 50%;
  width: 95%;
  min-height: 100%;
  position: relative;
  display: inline-block;
  transform: translate(-50%, 0);
}

.dashboard-title {
  font-size: 3rem;
  font-weight: bold;
  color: blanchedalmond;
  text-align: center;
  text-shadow: 3px 4px #D53;
}

.prices-container {
  position: absolute;
  left: 50%;
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transform: translate(-50%, 0);
}

.price-card {
  box-shadow: 0.8px 0.8px rgb(186, 189, 194);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 200px;
  padding: 5px 10px;
  border: 1px solid;
  margin: 5px 5px;
}

.coin-name {
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 0.5rem;
  color: rgb(171, 182, 199);
}

.coin-value {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1rem;
  color: rgb(59, 62, 68);
}

.coin-date-subject {
  text-align: center;
  color: rgba(95, 95, 95, 0.384);
  font-size: 0.65rem;
  font-style: italic;
}

.coin-date {
  color: rgba(15, 15, 15, 0.658);
  font-size: 0.65rem;
}