    <div class="main-container">
      <p class="dashboard-title">Simple Coin Dashboard</p>
      <div class="prices-container" hx-ext="sse" sse-connect="/price-stream" sse-swap="message">
        {{> _priceCard this}}
      </div>
    </div>
