<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.0/sse.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>